In [36]:
# Import Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [69]:
# Read the csv file into a pandas DataFrame
dfs = pd.read_csv('Output/lumid_5c.csv')
dfs.head()

   TIMEPOINT         NAME  ENTRY CONDITION PRODUCT  Sample-Number    Lot
0          6  Deamidation   3.50        5C   Lumab          21573  39360
1          9  Deamidation   3.30        5C   Lumab          21575  39360
2         12  Deamidation   4.30        5C   Lumab          21578  39360
3         24  Deamidation   3.64        5C   Lumab          95206  39404
4         24  Deamidation   3.99        5C   Lumab          95209  39408

In [70]:
dfs.shape

(210, 7)

In [71]:
dfs.dtypes

TIMEPOINT          int64
NAME              object
ENTRY            float64
CONDITION         object
PRODUCT           object
Sample-Number      int64
Lot                int64
dtype: object

In [72]:
dates = pd.date_range('2015-01', periods=dfs.shape[0], freq='M')

In [73]:
AO = Series(ao[:,2], index=dates)

NameError: name 'Series' is not defined

In [ ]:
AO.plot()