In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Read the csv file into a pandas DataFrame
dfs = pd.read_csv('Output/lumid_5c.csv')
dfs.head()

   TIMEPOINT         NAME  ENTRY CONDITION PRODUCT  Sample-Number    Lot
0          6  Deamidation   3.50        5C   Lumab          21573  39360
1          9  Deamidation   3.30        5C   Lumab          21575  39360
2         12  Deamidation   4.30        5C   Lumab          21578  39360
3         24  Deamidation   3.64        5C   Lumab          95206  39404
4         24  Deamidation   3.99        5C   Lumab          95209  39408

In [ ]:
from sklearn.datasets import make_blobs

X, y = make_blobs(centers=2, random_state=42)

print(f"Labels: {y[:10]}")
print(f"Data: {X[:10]}"

In [3]:
dfs['timenew'] = [ 1 if x <= 13 else 0 for x in dfs['TIMEPOINT']]

In [ ]:
target = dfs["timenew"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [ ]:
# Visualizing both classes
plt.scatter(X[:, 0], X[:, 1], c=y)