In [2]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
#import csv file
file = 'lumab_stab_scrubbed.csv'

In [4]:
df = pd.read_csv(file, encoding="ISO-8859-1")

In [5]:
df.head()

,Unnamed: 0,TIMEPOINT,NAME,ENTRY,CONDITION,PRODUCT,Sample-Number,Lot
0,0,06M,Deamidation,3.5,5C,Lumab,21573,39360
1,1,09M,Deamidation,3.3,5C,Lumab,21575,39360
2,2,12M,Deamidation,4.3,5C,Lumab,21578,39360
3,3,24M,Deamidation,3.644508337,5C,Lumab,95206,39404
4,4,24M,Deamidation,3.992744093,5C,Lumab,95209,39408